@import '../../../styles/settings.scss';

.root {
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 100px;


  .header {
    text-align: center;    
  }

  .titleField {
    margin: 10px;
    width: 60%;
  }

  .textField {
    margin: 10px;
  }

  .description {
    margin: 10px;
    width: 95%;
  }
  .button {
    background-color: $background-light;
    color: $font-dark;
    margin: 10px;
  }

  .formControl{
    margin: 10px;
    width: 100%;
  }

}