@import '../../../styles/settings.scss';

.root {
  display: inline-block;

  .button{
    margin: 10px;
  }

  .link {
    color: $font-light;
    border: none;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
    margin: 10px;
    text-transform: uppercase;
    &:hover {
      color: white;
    }
  }

}

