@import '../../../styles/settings.scss';


  .button a {
    color: white;
  }


  /*.button {
    padding: 8px 12px;
    border-radius: 8px;
  }

  .link {
      color: $font-light;
      font-weight: bold;

      &:hover {
          //background-color: $background-light;
          //color: $font-dark;
      }
  }*/
