@import '../../../styles/settings.scss';

.root {
  background-color: $background-light;
  
  .title {
      text-align: center;
  }

  .content {
    justify-content: space-between;
    padding: 0 50px;
  }
  .link {
    color: white;

  }
}

